extends ../layout

block content
  section(id="breadcrumbs-container")
    div.container
      div.row
        div.col-xs
          nav.breadcrumb
            a(href="/", class="breadcrumb-item") Trikas
            a(href="/catalogo" class="breadcrumb-item") Catálogo
            span.breadcrumb-item.active Todos los productos

  section(id="productos-container")
    div.container
      div.row
        div.col-xs-12.col-md-3
          div.list-group.filtros-toggle
            a(href="#", id="filtrosToggle", class="list-group-item list-group-item-action navbar-toggler hidden-sm-up", data-target="#filtros-container", data-toggle="collapse")
              h5.list-group-item-heading Filtros
                i.fa.fa-chevron-down
          div(id="filtros-container", class="collapse navbar-toggleable-xs")
            div.list-group
              a(class="list-group-item list-group-item-action active", href="#")
                h5.list-group-heading Comidas
              a(class="list-group-item list-group-item-action", href="#") Comida Oriental
                span.tag.tag-pill.tag-default.pull-xs-right 174
              a(class="list-group-item list-group-item-action", href="#") Comida Criolla
                span.tag.tag-pill.tag-default.pull-xs-right 132
              a(class="list-group-item list-group-item-action", href="#") Comida Criolla
                span.tag.tag-pill.tag-default.pull-xs-right 132
            div.list-group
              a(class="list-group-item list-group-item-action active", href="#")
                h5.list-group-heading Bebidas
              a(class="list-group-item list-group-item-action", href="#") Licores
                span.tag.tag-pill.tag-default.pull-xs-right 12
              a(class="list-group-item list-group-item-action", href="#") Refrescos
                span.tag.tag-pill.tag-default.pull-xs-right 14
              a(class="list-group-item list-group-item-action", href="#") Jugos
                span.tag.tag-pill.tag-default.pull-xs-right 11

        div.col-xs-12.col-md-9.lista-productos
          div.row
            div.col-xs-12.col-md-6.col-lg-4
              div.card
                img(src="/images/producto.svg", alt="Producto 1", class="card-img-top img-fluid")
                div.card-block
                  h4.card-title Producto 1
                  p.card-text Con este producto podras convertirte en pokemon