extends ../layout

block content
	h1.
		#{title}
	form#formAddBlob(name="addproduct",method="post",action="/producto")
		p Id Producto: 
			input#txtIdProducto(type="text", placeholder="ex. 010101", name="idProducto")
		p Descripción:
			input#txtDesProducto(type="text", placeholder="ex. Ceviche", name="desProducto")
		p DOB: 
			input#inputDob(type="date", name="dob")
		p Are You Loved?: 
			input#inputIsLoved(type="checkbox", name="isloved")
		p
			button#btnSubmit(type="submit") submit